@import '~bootstrap/scss/bootstrap';

body {
  background-attachment: fixed;
  background-image: url('public/bkgimgjpg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell {
  border: 15px solid;
  height: 10rem;
  margin: 0 auto;
}

.container {
  align-items: center;
  display: flex;
  height: 90vh;
  margin: auto;
}

.divcolor {
  align-content: center;
  background-color: powderblue;
  color: $white;
  font-size: 80px;
  text-align: center;
}

// .success {
//   background-color: $green;
// }
//
// .failure {
//   background-color: $red;
// }

.hidden {
  display: none;
}
